* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #1b4332;   /* Cream Color */
    color: white;        /* Dark green text */
    transition: 0.4s ease;
    padding-top: 20px;
    position: fixed;
}

.sidebar.collapsed {
    width: 70px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.logo img {
    width: 80px;      /* control size here */
    height: auto;
    object-fit: contain;
    transition: 0.3s ease;
}

.sidebar.collapsed .logo img {
    width: 40px;
}

.nav-links i {
    margin-right: 15px;
    font-size: 18px;
    color: white;   /* Dark Green */
}

.nav-links li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    cursor: pointer;
    transition: 0.3s;
}

.nav-links li:hover {
    background: rgba(27, 67, 50, 0.1);
}

.nav-links i {
    margin-right: 15px;
    font-size: 18px;
}

/* Hide text when collapsed */
.sidebar.collapsed .nav-links span {
    display: none;
}

.sidebar.collapsed .logo h2 {
    display: none;
}

/* Toggle Button */
.toggle-btn {
    position: fixed;
    top: 20px;
    left: 260px;
    background: #1b4332;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.4s;
}

.sidebar.collapsed ~ .toggle-btn {
    left: 80px;
}

.main-content {
    margin-left: 250px;
    padding: 40px;
    margin-top: 60px;   /* Added this */
    transition: 0.4s;
    width: 100%;
}
.sidebar.collapsed ~ .main-content {
    margin-left: 70px;
}

.logo h2 {
    color: #white;
}
/* Responsive */
@media (max-width: 768px) {
    .sidebar {
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .toggle-btn {
        left: 20px;
    }

    .main-content {
        margin-left: 0;
    }
}